{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block content %}
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0"><b>Students</b></h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'allteacher' %}">all teachers</a>
                        </li>
                        
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>



<section id="ajax-datatable">
  <div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-header border-bottom">
                 <section id="basic-input">
                  <div class="row">
                      <div class="col-md-12">
                              <div class="card-body">
                                <form class="form-validate" method="POST">
                                  {% csrf_token %}
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="form-group">
                                              <input type="text" class="form-control" placeholder="First Name"  name="firstname" id="username" required>
                                          </div>
                                      </div>
                                      <div class="col-md-5">
                                          <div class="form-group">
                                             
                                              <input type="text" class="form-control" placeholder="Last Name"  name="lastname" id="name" required>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1">Search</button>
                                      </div>                                  
                              </form>
                                     
                                  </div>
                              </div>
                          </div>
                   
                  </div>
              </section>

              <form method=POST class="mg-b-20">
                {% csrf_token %}
                <div class="row gutters-8">
                  {% for field in form %}
                  <div class="form-group">
                    
                
                    {% if form.is_bound %}

                 

                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        
                      {% else %}
                        {% render_field field class="form-control is-valid" %}
                      {% endif %}
                    {% else %}
                      {% render_field field class="form-control" %}
                    {% endif %}
                
                    {% if field.help_text %}
                      
                    {% endif %}
                  </div>
                {% endfor %}
                    <div class="col-lg-2 col-12 form-group">
                        <button type="submit" class="btn  btn-primary mr-1">ADD</button>
                    </div>
                </div>
            </form>
        </div>


              <div class="card-datatable">
                  <table class="datatables-ajax table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Date of birth</th>
                          <th>Contact</th>
                          <th>Gmail</th>
                          <th>District</th>
                          <th>Address </th>
                          <th>Action</th>
                          
                      </tr>

                              
                      {% if result %}
                      <h2>{{result}}</h2>
                    {% endif %}
                  </td>
                </tr>
                
                    {% for i in topics %}
                <tr>
                    <td>{{i.name}}</td>
                    <td><img src='/media/{{i.name.image}}' alt="not found" width="30" height="30"></td>
                    <td>{{i.name.dob}}</td>
                    <td>{{i.name.phone}}</td>
                    <td>{{i.name.email}}</td>
                    <td>{{i.name.district}}</td>
                    <td>{{i.name.address}}</td>
                    <td><a href="{% url 'teacher_delete' i.pk %}">Delete</a></td>
                </tr>
                    {% endfor %}
                           
                      </thead>
                  </table>


                  <br>
                  {% if topics.has_other_pages %}
                  <nav aria-label="Topics pagination" class="mb-4">
                    <ul class="pagination">
                      {% if topics.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ topics.previous_page_number }}">Previous</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <span class="page-link">Previous</span>
                        </li>
                      {% endif %}
              
                      {% for page_num in topics.paginator.page_range %}
                        {% if topics.number == page_num %}
                          <li class="page-item active">
                            <span class="page-link">
                              {{ page_num }}
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                        {% else %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
              
                      {% if topics.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ topics.next_page_number }}">Next</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <span class="page-link">Next</span>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                {% endif %}
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock %}
















